body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #a4aeb3;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#card {
    background-color: #f4f4f4;
    width: 350px;
    height: 450px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url('./assets/wave-haikei (2).svg');
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.pic img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: relative;
    top: -80px;

}

.icons {
    img {
        margin: 0 5px 0 5px;
    }
}

small {
    position: relative;
    bottom: -20px;
    text-align: center;
}

.buttons {
    position: relative;
    bottom: -90px;

    button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        background-color: #FBD8C2;
    }

    button:hover {
        background-color: #f8a470;
    }
}

@media screen and (max-width: 800px) {
    #card {
        width: 300px;
    }

    .pic {
        width: 40%;
        height: 25%;
        border-radius: 50%;
    }
}

.brown1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 390px;
    overflow: hidden;
    line-height: 0;
    margin: 0 auto;
}
.brown1 {
    background: brown;
    clip-path: polygon(0 80%, 100% 70%, 100% 100%, 0% 100%);
}